
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 33, 37, 41;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
#wrapper {
    position: relative;
    /* min-width: 400px; */
    display: inline-block;
  }
  
  #input {

    border:1px solid blue;
    min-width: 200px !important;
    word-wrap: break-word !important;
    flex: none !important;
  }
  
.checkbox_inputs {
  /* background-color:var(--bs-success) !important; */
  cursor: pointer;
  opacity: 1

}
#checkbox-form {
  /* background-color:var(--bs-success) !important;   */
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_inputs:checked {
    /* background-color:var(--bs-success) !important; */
    /* outline-color: #198754 !important; */

}

.completed{
}

.completed>.deleted_container .deleted {
  pointer-events: none;
  opacity: 0.5;
  filter: blur(1px);

}
.completed>.task_content {
  /* pointer-events: none !important; */
  opacity: 0.5;
  transition: 0.1s linear;
  text-decoration: line-through;
  filter: blur(1px);
}
#task_container{
  position: relative;
}
.contextMenu_container{
  padding: 5px;
  max-width: 100px;
  height: auto;
  background-color:#333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.contextMenu_container.showMenus{
  opacity: 1;
  visibility: visible;



}
.contextMenu_container>button{
  color: white;
  width: 100%;
  border: 2px solid white;
}